# Node modules
node_modules/

# Electron build outputs
/dist/
/out/

# Electron logs
/.debug/

# Arquivos de configuração do IDE (se estiver usando VSCode, por exemplo)
.vscode/

# Sistema de cache do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de cache do Electron
/.electron/

# Diretórios de build do Electron
/build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações do sistema de gerenciamento de pacotes (como Yarn)
.yarn/

# Arquivos de dependência do pacote
package-lock.json
yarn.lock

# Arquivos de banco de dados locais (se aplicável)
*.sqlite
*.db

# Pastas temporárias ou de teste (se estiver usando alguma ferramenta de testes)
coverage/
*.log
